.container {
  width: 1200px;
  /* width:90%;  */
  /*90vw deixa uma borda branca na direita por elementos inline e espaços/newline */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  /* border: 1px solid hsla(0, 100%, 1%, 0.2); */
  /* border-radius: 10px; */
}

.min-height {
  min-height: 75%;

}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}